<div [formGroup]="form" class="course-details-form">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Course Title</mat-label>
    <input formControlName="title" matInput />
    <mat-hint align="end">50文字以内</mat-hint>
    <mat-error *ngIf="form.controls['title'].errors?.['required']"
      >Value is required
    </mat-error>
  </mat-form-field>

  <!-- radio自体の高さ + margin-bottom: 18.5px -->
  <mat-radio-group formControlName="courseType">
    <mat-radio-button value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Select Category</mat-label>
    <mat-select formControlName="category">
      <mat-option value="beginner">Beginner</mat-option>
      <mat-option value="intermediate">Intermediate</mat-option>
      <mat-option value="advanced">Advanced</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Release Date</mat-label>
    <input
      matInput
      formControlName="releasedAt"
      [matDatepicker]="releasedAtPicker"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="releasedAtPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #releasedAtPicker></mat-datepicker>
  </mat-form-field>

  <!-- checkbox自体の高さ + margin-bottom: 18.5px -->
  <mat-checkbox formControlName="downloadsAllowed"
    >Downloads Allowed?</mat-checkbox
  >

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="longDescription"></textarea>
  </mat-form-field>
</div>
